.b-checkoutbox-address-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 275px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}
.b-checkoutbox-dlist-align-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  width: 235px;
}

[class*="dlist-"] {
  margin-bottom: 5px;
}


.b-checkout-checkoutbox-address-btn-main {
  background: #6c8650;
  width: 220px;
  height: 50px;
  border: 0px solid white;
  border-radius: 1px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.b-checkout-checkoutbox-address-btn-main:hover{
  color:#494949;
}