.b-member-Rental-order-account-view {
    margin: 60px 0 100px 0;
  }
 
  
  .b-member-Rental-order-orderlistpics {
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin: 5px;
  }
  
  .b-member-Rental-order-orderlist-rent-detailtable{ 
    tr {
      td {
      font-size: 14px;
      color: #494949;
      }
    }
  }
  .b-member-Rental-order-prod-name p:hover {
    color: #a8ae91;
  }
  .b-member-Rental-order-prod-name{
    p{
      margin-bottom: 3px;
    }
  }
  .b-member-Rental-order-orderstatus {
    color: #6c8650;
  }
  
  .b-member-Rental-order-btn {
    width: 200px;
    height: 50px;
    border: 0px solid white;
    border-radius: 1px;
    color: #ffffff;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .b-member-Rental-order-btn:hover{
    color: #494949;
  }
  
  .b-member-Rental-order-btn-checkelse {
    background: #6c8650;
  }
  
  .b-member-Rental-order-btn-cancelrent {
    background: #e58f80;
  }
  
  .b-member-Rental-order-buttonblock {
    margin: 100px 10px 0 10px;
  }
  