.helloworld {
  margin: 0 0 5rem 0;
}
.b-processingdui {
  display: flex;
  height: 60px;
  padding: 0 450px 0 160px;
  // margin: 0 0 5rem 0;
  span {
    margin-top: 40px;
    width: 100px;
    height: 1px;
    border-top: solid #494949 1px;
  }
}
.b-processingdui > div {
  margin: 35px 12px 0 12px;
  border: 0px solid black;
  border-radius: 50%;
  height: 21px;
  min-width: 21px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #d1cfcf;
  color: white;
}
.b-processingdui > div.active {
  margin: 35px 12px 0 12px;
  border: 0px solid black;
  border-radius: 50%;
  height: 21px;
  min-width: 21px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #6c8650;
  color: white;
}
.b-processingtext {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 0 440px 0 150px;
}
.b-processingtext > p {
  height: 20px;
  font-size: 14px;
  color: #d1cfcf;
}
.b-processingtext > p.active {
  color: #494949;
}
