@import '~bootstrap/scss/bootstrap.scss';

.w-cardlistp {
  color: #494949;
}

// 停在目前的網頁則連結側欄選單color: #6C8650
.w-card ul li {
  color: #838383;
}

.w-iconup {
  float: right;
  color: #494949;
}

.w-list-group-item {
  width: 200px;
  height: 50px;
}
