.cookiesp {
  width: 260px;
  margin: 25px 0px 15px 2px;
  font-size: 16px;
  background-color: #ffffff;
}

.MuiBreadcrumbs-ol {
  li {
    margin: 25px 0px 15px 2px;
  }
}
.shownothing {
  display: none;
}
