.b-shoppingcart-main-purchase-header {
  display: flex;
  max-width: 1200px;
  padding-top: 125px;
}
.b-shoppingcart-main-purchase-carts {
  width: 120px;
  p {
    width: 120px;
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
.b-shoppingcart-main-purchase-cart-style {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 275px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}
.b-shoppingcart-main-purchase-table-cart {
  line-height: 1.2;
  min-width: 900px;
}
.b-shoppingcart-main-purchase-outter-box {
  width: 275px;
  height: 400px;
  border: 0px solid rgba(0, 0, 0, 0.125);
  margin-left: 25px;
}
.b-paddingLR {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

//以上為主頁面SCSS

.b-shoppingcart-purchase-table-title-text-uppercase {
    background-color: #e6e9da;
    height: 35px;
    th {
    border: 0px solid white;
    font-size: 16px;
    }
  }