@import '~bootstrap/scss/bootstrap.scss';

.w-lessonbookinglisttable {
  width: 900px;
  margin: 30px 0 50px 0;

  thead th {
    color: #494949;
    text-align: center;
  }
}

.w-lessonbookinglisttbody tr td {
  min-height: 180px;
  justify-content: center;
  text-align: center;
}
