.b-shoppingcart-rental-table-title-style{
  display: flex;
  justify-content: space-between;
  background-color: #e6e9da;
  height: 35px;
    th {
      border: 0px solid white;
      font-size: 16px;
      }
  } 
  