.b-checkout-payment-title-table {
  display: flex;
  justify-content: space-between;
  background-color: #e6e9da;
  height: 35px;
  th{
    font-size: 16px;
    display: flex;
  justify-content: center;
  align-items: center;
  }
}

