@import '~bootstrap/scss/bootstrap.scss';

.w-wrapper {
  max-width: 1440px;
  width: 1200px;
  margin: 0 auto;

  .w-card {
    min-width: 200px;
    border: none;
    margin: 100px 0 130px 0;
  }
  .w-article {
    min-width: 740px;
    margin: 100px;
  }
}
