@import "~bootstrap/scss/bootstrap.scss";

.v-prod-list-wrapper {
  // max-width: 1200px;
  padding: 0 120px;
  margin: 0 auto;
  // background-color: brown;
}
.v-list-title {
  // padding-bottom: 20px;
  // margin-bottom: 20px;
}
.v-spinner {
  margin: 0 auto;
  align-self: center;
}

.v-price-bar {
  max-height: 60px;
  margin-bottom: 20px;
  // background-color: sandybrown;
}
.v-helloworld {
  width: 300px;
  height: 300px;
  img {
    width: fit-content;
    object-fit: cover;
  }
  figcaption {
    display: inline-block;
    width: 300px;
  }
}
