.b-member-Rental-order-style1{
    color: #494949;
}
.b-member-Rental-order-style2{
    color: #838383;
    font-size: 14px;
}
.b-member-Rental-order-wrapper{
  width: 1200px;
  margin: auto;
  margin-top: 125px;
  display: flex;
}
.b-member-Rental-order-card {
  width: 200px;
  border: 0px;
  margin: 100px 0 130px 0;
}
.b-member-Rental-order-article {
  width: 740px;
  margin: 100px;
}
.b-member-Rental-order-orderlist-detail-all {
  margin: 0 0 100px 0;
  .b-member-Rental-order-orderlist-detail {
    width: 830px;
    color: #838383;
    margin: 0 0 0 70px;
  }
}
.b-member-Rental-order-div-title {
  font-size: 36px;
  color: #494949;
  }