@import '~bootstrap/scss/bootstrap.scss';
.v-search-group {
  margin: 60px 0 50px 0;
  border-bottom: 1px solid #d1cfcf;
}

.v-search-bar {
  /* background-color: tomato; */
  height: 40px;
  outline: 0;
  border: none;
  cursor: pointer;
  /* padding: 6px 0; */
  font-size: 20px;
  p {
    color: #d1cfcf;
  }
}

.v-search-img {
  max-width: 18px;
  object-fit: cover;
}

.v-search-result {
  margin-top: 5px;
  padding-left: 8px;
}
