@import '~bootstrap/scss/bootstrap.scss';
.v-recommend-goods {
  margin-top: 100px;
  margin-bottom: 50px;

  padding: 0 120px;
}
.v-card-group {
  // max-width: 1200px;
  //   background-color: coral;
}
.v-product-card {
  margin: 15px;
  max-width: 280px;
  height: 370px;
  background: white;
  box-shadow: 3px 3px 6px #ccc;
  border-radius: 3px;
  text-align: center;
  figcaption {
    p {
      font-size: 22px;
      margin: 15px 0 10px 0;
    }
  }
  .v-price {
    font-size: 16px;
    margin: 0;
    color: #e58f80;
  }
}
.v-recommend-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  padding: 10px;
  text-align: center;
}
