.b-completepage-header {
  display: flex;
  max-width: 1200px;
  margin-top: 125px;
}
.b-complete-noonspace {
  width: 1200px;
  height: 50px;
}

.b-complete-cart-title {
  width: 120px;
  p {
    width: 120px;
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
.b-paddingLR {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
