.v-prod-cat {
  margin: 60px 0 30px 0;
}

.v-prod-cat p {
  font-size: 16px;
}

.v-prod-col {
  margin-bottom: 30px;
}

.v-prod-img {
  object-fit: cover;
  max-width: 260px;
  margin: 10px;
}

.v-product-card-md {
  background: #fff;
  max-width: 280px;
  border-radius: 3px;
  box-shadow: 3px 3px 6px #ccc;
}

.v-figtitle {
  text-align: center;
  margin: 10px 0;
  font-size: 22px;
}

.v-price {
  text-align: center;
  font-size: 16px;
  color: #e58f80;
  margin: 5px 0 20px 0;
}
