.b-checkoutpages-address-font-size1 {
  font-size: 14px;
  margin: 5px 0px;
}

.b-address-wrap {
  line-height: 1.2;
  display: flex;
  align-items: center;
  flex-direction: column;
  .b-address-info {
    font-weight: bold;
    margin-right: 5px;
    display: block;
    color: #e58f80;
  }
}
.b-checkoutpage1-updatebutton {
  width: 80px;
  height: 30px;
  border-radius: 0px;
  background-color: #6c8650;
  color: #ffffff;
  text-align: center;
  border: 0px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-checkoutpage1-updatebutton:hover {
  color: #494949;
}
.b-select-raido-box {
  background-color: #ffffff;
}
.b-select-raido-box:hover {
  background-color: #ebebeb;
}
