@import '~bootstrap/scss/bootstrap.scss';

.w-div-title {
  font-size: 36px;
  color: #494949;
}

.w-news-main {
  width: 700px;
  font-size: 16px;
  color: #838383;
  margin: 30px 0 50px 40px;

  .w-iconright {
    float: right;
    color: #707070;
  }
}
